<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>SubSuggester.com</title>
		<link rel="shortcut icon" href="{% static 'images/reddit_icon.png' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Login_v1/vendor/css-hamburgers/hamburgers.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Login_v1/vendor/select2/select2.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Login_v1/css/util.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Login_v1/css/main.css' %}">
		
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			crossorigin="anonymous"></script>
		
		
	</head>
	<body>

		<!-- Header -->
		<a href="{% url 'index' %}">
			<header id="header">
				
				<div class="logo">SubSuggester.com</div>
				
			</header>
		</a>

		
		

		<!-- One -->
			
			<section id="one" class="wrapper">
					
				<div class ="secondDivID">
	
					<div class="login100-pic js-tilt" style="margin-top:80px;margin-left: 800px;" data-tilt>
						<img src="{% static 'images/reddit_img_centre.png' %}" alt="IMG">
					</div>

					<a href="{% url 'utils'%}">
						<button class="login100-form-btn"style="margin-top:100px;margin-left: 760px;width: 300px;">Login With Reddit</button>
					</a>

		
				
				</div>					
					
			</section>

		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">					
					<ul class="actions">
						<li><span class="icon fa-phone"></span>(089) 221-1122</li>
						<li><span class="icon fa-envelope"></span>Help@SubSuggester.com</li>
						<li><span class="icon fa-map-marker"></span> Trinity College Dublin, The University of Dublin, College Green, Dublin 2, Ireland</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Copyright SubSuggester.com 
				</div>
			</footer>

		
<!--===============================================================================================-->	
	<script src="{% static 'Login_v1/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Login_v1/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'Login_v1/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Login_v1/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Login_v1/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'Login_v1/js/main.js' %}"></script>

	</body>
</html>

