<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>SubSuggester.com</title>
		<link rel="shortcut icon" href="{% static 'images/reddit_icon.png' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--===============================================================================================-->	
		<link rel="icon" type="image/png" href="{% static 'Table/images/icons/favicon.ico' %}"/>
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'Table/vendor/bootstrap/css/bootstrap.min.css' %}">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'Table/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'Table/vendor/animate/animate.css' %}">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'Table/vendor/select2/select2.min.css' %}">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'Table/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'Table/css/util.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Table/css/main.css' %}">
		<!--===============================================================================================-->
		
		
	</head>
	<body>

		<!-- Header -->
		<a href="{% url 'index' %}">
			<header id="header">
				
				<div class="logo">SubSuggester.com</div>
				
			</header>
		</a>

		
		

		<!-- One -->
			
			<section id="one" class="wrapper">
                <div class="inner flex flex-3" style="margin-top:150px;margin-left:300px">
                    
                    <!--
					<div style="padding:100px;">
                        <h1><span style="color:red" >Welcome!!  <label>Adam</label></span></h1>
                    </div>
				-->
                    <div style="margin-right:200px;">

                        <img src="{% static 'images/reddit_img_centre.png' %}" width="320" height="320" alt="" align="middle" />
                    </div>

                    <div class="secondDivID">
						<div class="wrap-table100">
							<div class="table">
		
								<div class="row header">
									<div class="cell">
										S.No.
									</div>
									<div class="cell">
										Subreddits
									</div>
									
								</div>
								
								{% for sub in sublist %}
								<div class="row">
									<div class="cell" data-title="Full Name">
										{{ forloop.counter }}
									</div>
									<div class="cell" data-title="Age">
										{{sub}}
									</div>
									
								</div>
								{% endfor %}
			
					
		
							</div>
					</div>
                    </div>

                </div>
			</section>

		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">					
					<ul class="actions">
						<li><span class="icon fa-phone"></span>(089) 221-1122</li>
						<li><span class="icon fa-envelope"></span>Help@SubSuggester.com</li>
						<li><span class="icon fa-map-marker"></span> Trinity College Dublin, The University of Dublin, College Green, Dublin 2, Ireland</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Copyright SubSuggester.com 
				</div>
			</footer>

	

<!--===============================================================================================-->	
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

